# API REST
POSTGRES_HOST=db-rest
POSTGRES_PORT=5432
POSTGRES_DB=healthdb
POSTGRES_USER=health
POSTGRES_PASSWORD=healthpwd

JWT_SECRET=dev_super_secret_change_me
PORT=3000

# API ML
ML_BASE_URL=http://api-ml:8000

# DB ML (optionnel)
ML_DB_HOST=db-ml
ML_DB_PORT=5432
ML_DB_NAME=mldb
ML_DB_USER=ml
ML_DB_PASSWORD=mlpwd
